.links-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explore .form-button {
  font-size: 24px;
  padding: 16px 28px;
  text-decoration: none;
}
